/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.big-container {
  width: 100%;
  height: auto; /* 세로가 내용에 따라 늘어남 */
  max-height: 300vh; /* 화면 높이를 넘지 않도록 최대 높이 지정 */
  /* background-color: #17222c; */ /* 배경 색상 제거 */
  background-image: url('/public/background.jpg'); /* 여기에 사용하려는 이미지의 URL 추가 */
  background-size: cover; /* 컨테이너 전체를 덮도록 설정 */
  background-position: center; /* 배경 이미지를 가운데 정렬 */
  font-family: Nunito, sans-serif;
  padding-top: 3rem;
}

.component-container {
  background-color: #f1f1f1;
  width: calc(97% - 1rem); /* 전체 화면의 25%를 차지하고 여백을 조정 */
  min-height: 100px; /* 최소 높이를 100px로 설정 */
  margin: auto; /* 상하 1rem, 좌우 자동 여백 설정하여 가운데 정렬 */
  padding: 1rem; /* 내부 여백을 1rem으로 설정 */
  box-sizing: border-box; /* 내부 여백을 포함하여 요소의 크기를 계산 */
  border-radius: 8px; /* 테두리를 둥글게 설정 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
  display: flex; /* 요소를 플렉스 컨테이너로 설정 */
  justify-content: center; /* 요소를 수평으로 가운데 정렬 */
  align-items: flex-start; /* 내부 요소를 위쪽으로 정렬 */
  flex-wrap: wrap; /* 요소들이 여러 줄에 걸쳐 나열되도록 설정 */
  overflow: visible; /* 내용이 넘치는 경우 자르지 않고 보이도록 설정 */
  align-items: center;
}

.component-box {
  width: 100%;
  padding-bottom: 30%;
}

.map-component-box {
  text-align: left; /* 내부 요소를 왼쪽 정렬 */
  display: flex;
  margin-left: 5rem;
}

.intensity-box {
  width: 650px;
  height: 500px;
  padding: 3%;
  border-radius: 11px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1), 4px 6px 8px rgba(0, 0, 0, 0.05),
    -1px -1px 3px rgba(0, 0, 0, 0.05); /* 좌측과 위쪽에 추가 그림자 */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  top: 50px;
  background-color: white;
  margin-left: 5rem;
}
