@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

.container {
  flex-direction: row; /* 수평으로 정렬하기 위해 수정 */
  justify-content: space-between; /* 리소스 컨테이너와 터미널 박스 사이의 간격 설정 */
  margin-right: 1rem;
  font-family: Nunito, sans-serif;
  color: white;
}

.resource-terminal {
  display: flex;
}

.resource-container {
  display: flex;
  align-items: center; /* 세로 가운데 정렬을 위해 추가 */
  width: 27rem;
  height: 24rem;
  margin-top: 2rem;
  font-weight: 700;
  flex-wrap: wrap; /* 차트가 너비를 벗어날 경우 다음 줄로 이동 */
  /* border: 1px solid #ddd;  */
  border-radius: 11px; /* 카드 모서리를 둥글게 만듦 */
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1); /* 상하좌우에 그림자를 강조 */
  overflow: hidden; /* 내부 컨텐츠의 넘치는 부분을 잘라냄 */
  padding: 2%;
  background-color: rgb(255, 255, 255);
}

.top-charts {
  display: flex;
  justify-content: space-around;
  width: 100%; /* 상단 차트 영역을 100%로 설정하여 차트가 가로 전체에 놓이도록 함 */
  margin-right: 5rem;
  margin-bottom: 2rem;
  padding: 1%;
}

.bottom-charts {
  display: flex;
  justify-content: space-around;
  width: 100%; /* 하단 차트 영역을 100%로 설정하여 차트가 가로 전체에 놓이도록 함 */
  margin-right: 5rem;
  margin-bottom: 4rem;
  padding: 1%;
}

.circular-progress {
  width: 100px;
  height: 100px;
  position: relative;
  margin: auto; /* 차트를 가운데에 고정 */
}

.head {
  margin-top: 2rem;
  display: flex;
}

.info {
  display: flex;
  background-color: rgba(255, 255, 255, 0.937);
  width: 100%; /* 화면 전체 너비를 차지 */
  margin-top: 1rem;
}

.inner1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(20px, 35px); /* x축으로 40px, y축으로 30px 이동 */
  z-index: 10;
  text-anchor: middle;
  white-space: nowrap; /* 텍스트가 한 줄로만 표시되도록 설정 */
  margin-left: 15px;
}

.inner2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-10px, 35px); /* x축으로 40px, y축으로 30px 이동 */
  z-index: 10;
  text-anchor: middle;
  white-space: nowrap; /* 텍스트가 한 줄로만 표시되도록 설정 */
  margin-left: 30px;
}
.inner3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(20px, 35px); /* x축으로 40px, y축으로 30px 이동 */
  z-index: 10;
  text-anchor: middle;
  white-space: nowrap; /* 텍스트가 한 줄로만 표시되도록 설정 */
  margin-left: 15px;
}
.inner4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0px, 35px); /* x축으로 40px, y축으로 30px 이동 */
  z-index: 10;
  text-anchor: middle;
  white-space: nowrap; /* 텍스트가 한 줄로만 표시되도록 설정 */
  margin-left: 30px;
}

.background-circle {
  fill: transparent;
  stroke: #e7e7e7; /* 회색 */
  stroke-width: 20;
  transform: rotate(-90deg);
  transform-origin: center;
}

.stroke {
  fill: transparent;
  stroke: #3498db;
  stroke-width: 20;
  transform: rotate(-90deg);
  transform-origin: center;
}

.label1 {
  font-size: 17px;
  font-weight: normal;
  border: 1px solid white;
  width: auto; /* 가로 길이를 내부 내용에 맞게 자동 조정 */
  display: inline-block; /* 라벨을 인라인-블록 요소로 변경 */
  padding: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: white;
  color: black;
  margin-left: 3rem;
}
.label2 {
  font-size: 17px;
  font-weight: normal;
  border: 1px solid white;
  width: auto; /* 가로 길이를 내부 내용에 맞게 자동 조정 */
  display: inline-block; /* 라벨을 인라인-블록 요소로 변경 */
  padding: 20px;
  margin-left: 10rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: white;
  color: black;
}
.label3 {
  font-size: 17px;
  font-weight: normal;
  border: 1px solid white;
  width: auto; /* 가로 길이를 내부 내용에 맞게 자동 조정 */
  display: inline-block; /* 라벨을 인라인-블록 요소로 변경 */
  padding: 20px;
  margin-left: 10rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: white;
  color: black;
}

.parent-container {
  position: relative;
}

.startbtn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 38rem;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: #f0f0f0;
  color: #000000;
  transition: background-color 0.3s ease;
  width: 10rem;
  height: 3rem;

  /* 중앙 정렬을 위한 스타일 */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* 버튼 호버 효과 */
.startbtn:hover {
  background-color: #7dbcff;
}

/* 버튼 액티브 효과 */
.startbtn:active {
  background-color: #00449e;
}

.terminal-box {
  margin-top: 2rem; /* 위쪽 여백 추가 */
  position: relative;
  text-align: right;
}

.resource-label {
  text-align: left; /* 왼쪽 정렬 */
  color: black; /* 검정색 글씨 */
  font-size: 20px; /* 글씨 크기 */

  padding: 8px; /* 내부 여백 추가 */
}

.execute-btn {
  display: inline-block; /* 인라인 블록 요소로 설정 */
  border: 1px solid #ccc; /* 테두리 추가 및 회색으로 설정 */
  background-color: #f0f0f0; /* 배경색 설정 */
  color: #000; /* 글자색 설정 */
  padding: 10px 20px; /* 내부 여백 설정 */
  border-radius: 5px; /* 테두리 둥글게 설정 */
  cursor: pointer; /* 커서를 포인터로 변경하여 클릭 가능한 상태로 설정 */
  transition: background-color 0.3s, border-color 0.3s, color 0.3s; /* hover 효과를 위한 transition 추가 */
  margin-top: 20px; /* 버튼을 아래로 이동시키는 마진 값 */
}

.execute-btn:hover {
  background-color: #7dbcff; /* hover 시 배경색 변경 */
  border-color: #7dbcff; /* hover 시 테두리 색 변경 */
  color: #fff; /* hover 시 글자색 변경 */
}

.terminal-container {
  justify-content: center;
  align-items: center; /* 세로 가운데 정렬을 위해 추가 */

  margin-top: 2rem;
  font-weight: 700;
  flex-wrap: wrap; /* 차트가 너비를 벗어날 경우 다음 줄로 이동 */
  /* border: 1px solid #ddd;  */
  border-radius: 11px; /* 카드 모서리를 둥글게 만듦 */
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1); /* 상하좌우에 그림자를 강조 */
  overflow: hidden; /* 내부 컨텐츠의 넘치는 부분을 잘라냄 */
  padding: 2%;
  margin-left: 6rem;
  background-color: white;
}

.resource-name {
  color: black;
}

.resource-value {
  color: black;
}
