@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

.container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}

.resource-container {
  display: flex;
  justify-content: space-around;
  width: 95%;
  margin-top: 2rem;
  font-weight: 700;
}

.circular-progress {
  width: 100px;
  height: 100px;
  position: relative;
}

.head {
  margin-top: 2rem;
  display: flex;
}

.info {
  margin-left: 2rem;
}
.inner1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(20px, 35px); /* x축으로 40px, y축으로 30px 이동 */
  z-index: 10;
  text-anchor: middle;
  white-space: nowrap; /* 텍스트가 한 줄로만 표시되도록 설정 */
}
.inner2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-10px, 35px); /* x축으로 40px, y축으로 30px 이동 */
  z-index: 10;
  text-anchor: middle;
  white-space: nowrap; /* 텍스트가 한 줄로만 표시되도록 설정 */
}
.inner3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(20px, 35px); /* x축으로 40px, y축으로 30px 이동 */
  z-index: 10;
  text-anchor: middle;
  white-space: nowrap; /* 텍스트가 한 줄로만 표시되도록 설정 */
}
.inner4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0px, 35px); /* x축으로 40px, y축으로 30px 이동 */
  z-index: 10;
  text-anchor: middle;
  white-space: nowrap; /* 텍스트가 한 줄로만 표시되도록 설정 */
}

.background-circle {
  fill: transparent;
  stroke: #e7e7e7; /* 회색 */
  stroke-width: 20;
  transform: rotate(-90deg);
  transform-origin: center;
}

.stroke {
  fill: transparent;
  stroke: #3498db;
  stroke-width: 20;
  transform: rotate(-90deg);
  transform-origin: center;
}

.label1 {
  font-size: 17px;
  font-weight: normal;
}

.parent-container {
  position: relative;
}

.startbtn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 38rem;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: #f0f0f0;
  color: #000000;
  transition: background-color 0.3s ease;
  width: 10rem;
  height: 3rem;

  /* 중앙 정렬을 위한 스타일 */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* 버튼 호버 효과 */
.startbtn:hover {
  background-color: #7dbcff;
}

/* 버튼 액티브 효과 */
.startbtn:active {
  background-color: #00449e;
}

.terminal-box {
  margin-top: 12rem;
  margin-left: 3rem;
}

/* xterm */

.xterm {
  cursor: text;
  position: relative;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.xterm.focus,
.xterm:focus {
  outline: none;
}

.xterm .xterm-helpers {
  position: absolute;
  top: 0;
  /**
   * The z-index of the helpers must be higher than the canvases in order for
   * IMEs to appear on top.
   */
  z-index: 5;
}

.xterm .xterm-helper-textarea {
  padding: 0;
  border: 0;
  margin: 0;
  /* Move textarea out of the screen to the far left, so that the cursor is not visible */
  position: absolute;
  opacity: 0;
  left: -9999em;
  top: 0;
  width: 0;
  height: 0;
  z-index: -5;
  /** Prevent wrapping so the IME appears against the textarea at the correct position */
  white-space: nowrap;
  overflow: hidden;
  resize: none;
}

.xterm .composition-view {
  /* TODO: Composition position got messed up somewhere */
  background: #000;
  color: #fff;
  display: none;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
}

.xterm .composition-view.active {
  display: block;
}

.xterm .xterm-viewport {
  /* On OS X this is required in order for the scroll bar to appear fully opaque */
  background-color: #000;
  overflow-y: scroll;
  cursor: default;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.xterm .xterm-screen {
  position: relative;
}

.xterm .xterm-screen canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.xterm .xterm-scroll-area {
  visibility: hidden;
}

.xterm-char-measure-element {
  display: inline-block;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -9999em;
  line-height: normal;
}

.xterm.enable-mouse-events {
  /* When mouse events are enabled (eg. tmux), revert to the standard pointer cursor */
  cursor: default;
}

.xterm.xterm-cursor-pointer,
.xterm .xterm-cursor-pointer {
  cursor: pointer;
}

.xterm.column-select.focus {
  /* Column selection mode */
  cursor: crosshair;
}

.xterm .xterm-accessibility:not(.debug),
.xterm .xterm-message {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  color: transparent;
  pointer-events: none;
}

.xterm .xterm-accessibility-tree:not(.debug) *::selection {
  color: transparent;
}

.xterm .xterm-accessibility-tree {
  user-select: text;
  white-space: pre;
}

.xterm .live-region {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.xterm-dim {
  /* Dim should not apply to background, so the opacity of the foreground color is applied
   * explicitly in the generated class and reset to 1 here */
  opacity: 1 !important;
}

.xterm-underline-1 {
  text-decoration: underline;
}
.xterm-underline-2 {
  text-decoration: double underline;
}
.xterm-underline-3 {
  text-decoration: wavy underline;
}
.xterm-underline-4 {
  text-decoration: dotted underline;
}
.xterm-underline-5 {
  text-decoration: dashed underline;
}

.xterm-overline {
  text-decoration: overline;
}

.xterm-overline.xterm-underline-1 {
  text-decoration: overline underline;
}
.xterm-overline.xterm-underline-2 {
  text-decoration: overline double underline;
}
.xterm-overline.xterm-underline-3 {
  text-decoration: overline wavy underline;
}
.xterm-overline.xterm-underline-4 {
  text-decoration: overline dotted underline;
}
.xterm-overline.xterm-underline-5 {
  text-decoration: overline dashed underline;
}

.xterm-strikethrough {
  text-decoration: line-through;
}

.xterm-screen .xterm-decoration-container .xterm-decoration {
  z-index: 6;
  position: absolute;
}

.xterm-screen .xterm-decoration-container .xterm-decoration.xterm-decoration-top-layer {
  z-index: 7;
}

.xterm-decoration-overview-ruler {
  z-index: 8;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}

.xterm-decoration-top {
  z-index: 2;
  position: relative;
}
